.feed {
  padding: 5px;
  position: relative;
  background: #000;
}
.feed-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed-footer__list-left {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feed-footer__item {
  padding: 5px;
  list-style-type: none;
}
.feed__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}
.feed__user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.header__img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

.header__img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
